{% extends 'base.html' %}
{% block stylesheets %}
<link href="/static/css/game.css" rel="stylesheet" type="text/css"/>
{% end %}
{% block scripts %}
  <script src="/static/js/lib/jcanvas.min.js" type="text/javascript"/>
  <script src="/static/js/cribbage.js" type="text/javascript"/>
{% end %}

{% block page_content %}
<div id="game-page-container">
  <div class="game-left">
    <canvas id="game-canvas"></canvas>
  </div>
  <div class="game-right">
    <canvas id="board-canvas"></canvas>
  </div>
</div>
{% end %}
