{% extends "base.html" %}

{% block page_content %}
<div style='margin-top:100px;text-align:center;'>
    <img src='/static/img/Paul-Ashbourne.jpg' style='height:400px;'/>
</div>
<div style="text-align:center;">
    <h1>Welcome</h1>
    <p>
        Hi, I'm Paul.
    </p>
    <p>
       I am currently studying Mechatronics Engineering at the University of Waterloo.
       I have a passion for innovation and and a firm believer that anything and everything
       can be improved.
    </p>
    <p>
        Take a look around my site to learn more about who I am, what I have done, what I am currently working
        on, and what I am capable of.
    </p>
    <p>Looking for my resume? Click <a href="/static/files/PaulAshbourne-Resume.pdf" target="_blank">here</a>.</p>
</div>
{% end %}
